<%- include('./partials/header') %>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <div id="map"></div>
    
    <%- include('./partials/bootstrap-jquery') %> 

    <script>
    var icons = {
      "Deployed": "../images/helmet.png",
      "Enroute": "../images/truck.png"
    }
    var markers = {};
    var bounds;
       
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(38.5616539,-121.512952),
          zoom: 12
        });

        var infoWindow = new google.maps.InfoWindow;
                    
        bounds = new google.maps.LatLngBounds();
        var id = "aasdf"

        // Change this depending on the name of your PHP or XML file
        startInterval((teams)=>{
            teams.forEach((team)=>{
                var id = team.id;
                if (markers[id] === undefined){
                    var label = id.toString() || "";
                    var marker = new google.maps.Marker({
                        title: name,
                        map: map,
                        position: point, 
                        label: label
                    });
                    markers[id] = marker;
                }

                var currMarker = markers[id];
                var point = new google.maps.LatLng(
                  parseFloat(team.pos.lat),
                  parseFloat(team.pos.lng));

                //clear all listeners
                google.maps.event.clearListeners(currMarker, 'click');
                //popup content
                let infowincontent = '<div style="color: black"><b><a href="../team/' + id + '">' + 
                                team.name + 
                                '</b><a><br/>Status: '+
                                team.status + '<br/> Devices: ' +
                                team.membersId +
                                '</div>';

               
                currMarker.setPosition(point);
                currMarker.setIcon(icons[team.status]  || icons["Deployed"]);
                currMarker.addListener('click', function() {
                    infoWindow.setContent(infowincontent);
                    infoWindow.open(map, currMarker);
                });
                bounds.extend(currMarker.position);
                map.fitBounds(bounds);
                if (map.getZoom() > 17)
                    map.setZoom(17);
            });
        });       
    }

    function startInterval(callback) {
      // let data;
      var date = new Date();
      interval = setInterval(()=>{
        $.ajax({
               url : '../api/teams',
               type : 'GET',
               success : (response) => {   
                  callback(response.data);
               },
               error : (request,error)  => {

               }
        });
      }, 1000);
    }

    
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf0GTb9p4ksFKrcs_fms33bIb_AEniq7I&callback=initMap">
    </script>
<%- include('./partials/footer') %> 