<%- include('./partials/header') %>
<link rel="stylesheet" href="<%=staticPath%>css/personal-chart.css%>">
<div class="card bg-dark">
  <div class="card-header chart-card-title">
    <div class = "row"> 
      <div class="col" style="max-width:fit-content"><h2><%=team.name%></h2></div>