<nav class="navbar navbar-expand-lg navbar-dark" style="background:transparent;">
  <a class="navbar-brand" href="../map">
    <img src="http://www.fireandrescuetraining.ca.gov/images/logoSacramentoFire.gif"  width="35" height="35" class="d-inline-block align-middle" alt="">
    <span style="font-family: 'Merriweather', serif;"> Sacramento Fire Department Mission Tracker </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
  </div>
</nav>